NODE_ENV=development
HOST=0.0.0.0
PORT=3000

# AI API KEYS
GEMINI_API_KEY=
GROQ_API_KEY=

# Auth (Supabase)
PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# GAS (Google Apps Script)
GAS_SHARED_SECRET=replace-with-random-64-char-string
GAS_WEBAPP_URL=

# Turnstile (Cloudflare)
PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=

# Custom application settings
FORCE_AUTH_DISABLED=false
FORCE_OFFLINE_MODE=false